body {
  width: 1440px;
  overflow-x: hidden;
  margin: 0 auto;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

h2 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #f2785c;
}

h3 {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #ffffff;
}

h4 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  margin: 0;
  color: #0d606f;
}

p {
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #0d606f;
}

input {
  color: #0d606f;
}

img {
  border-radius: 16px;
}

button {
  cursor: pointer;
  background: #0d606f;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  color: #ffffff;
  padding: 0.6em 1.3em;
  text-transform: capitalize;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

button:hover {
  background-color: #f2785c;
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

header {
  background-image: url(../images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 765px;
}

nav {
  height: 90px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  box-sizing: border-box;
}

.logo {
  font-family: "Magra";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.app-nav-container {
  width: 527px;
  margin-right: 30px;
  display: flex;
  justify-content: space-between;
}

.app-nav-item {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-transform: capitalize;
}

.app-nav-item:hover {
  color: rgb(13, 96, 111);
}

.app-login-btn {
  font-size: 16px;
  padding: 5px 30px;
}

.hero-content {
  margin: 32px 120px;
}

.hero-content p {
  margin-top: 32px;
  color: #ffffff;
}

form {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  margin-top: 47px;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.app-search input {
  background-color: transparent;
  font-family: "Aleo";
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

::placeholder {
  color: #f2785c;
}

.app-section {
  margin-top: 80px;
  box-sizing: border-box;
  text-align: center;
}

.steps-container {
  margin: 40px 130px 0 130px;
  display: flex;
  justify-content: space-between;
}

.single-step p {
  margin-top: 27px;
}

.destinations-slideshow {
  width: 1440px;
  height: 800px;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 45px;
  position: relative;
}

.slideshow-block-container {
  position: absolute;
  right: -570px;
  display: flex;
  justify-content: space-between;
}

.slideshow-block {
  margin: 0 30px;
  flex: 0 0 auto;
  position: relative;
  height: 800px;
  width: 800px;
}

.slideshow-block img {
  width: 800px;
  height: 800px;
}

.slideshow-block h3 {
  position: absolute;
  left: 15px;
  bottom: 8px;
}

.slideshow-controller {
  margin-top: 25px;
  margin-bottom: 35px;
}

.slideshow-btn {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: rgba(242, 120, 92, 0.5);
  border-radius: 50%;
  display: inline-block;
}

.active,
.slideshow-btn:hover {
  background-color: #f2785c;
}

.arrow {
  margin-top: 6px;
  margin-right: 20px;
}

.stories-container {
  box-sizing: border-box;
  height: 1331px;
  padding: 40px 120px;
  max-width: 100%;
  background: url(../images/Rectangle\ 33.png) no-repeat center;
  box-shadow: inset 0px 1270px 0px 0px rgba(255, 255, 255, 0.7);
  background-size: contain;
}

.story-container img {
  box-shadow: 0px 4px 4px #0d606f;
}

.story-container {
  max-height: 250px;
  display: flex;
  margin-bottom: 30px;
}

.story-content {
  margin-left: 40px;
  text-align: left;
}

.story-content p {
  display: block;
  margin-bottom: 0;
  height: 150px;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 20px;
}

.stories-container a {
  font-family: "Aleo";

  font-weight: 700;
  font-size: 20px;
  text-decoration-line: underline;
}

.stories-container a:visited {
  color: #0d606f;
}

.story-btn {
  margin-top: 10px;
}

footer {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  margin-top: -61px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 600px;
  padding-right: 110px;
  height: 61px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #ffffff;
}

.social-links svg {
  fill: #ffffff;
  width: 24px;
  margin: 0 15px;
}

.social-links svg:hover {
  fill: #f2785c;
}
