body {
  width: 1440px;
  margin: 0 auto;
}

h1 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

header {
  background-image: url(../images/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 765px;
}
